
  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" href="#">S3 Innovation</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="navigation('create')">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light"  mdbWavesEffect (click)="navigation('list')">list</a>
      </li>
    </ul>
   
  </links>

</mdb-navbar>